/* Mobile layouts */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    background-color: white;
}

header ul {
    text-align: center;
}

footer {
    width: 100%;
    padding: 1rem 0rem;
    background-color: #191825;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 2rem;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #191825;
}

.navigation a:hover {
    color:#f49cbb;
}

.navigation li {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-button, .login-button {
    background: #dd2d4a;
    background-image: -webkit-linear-gradient(top, #dd2d4a, #9c001a);
    background-image: -moz-linear-gradient(top, #dd2d4a, #9c001a);
    background-image: -ms-linear-gradient(top, #dd2d4a, #9c001a);
    background-image: -o-linear-gradient(top, #dd2d4a, #9c001a);
    background-image: linear-gradient(to bottom, #dd2d4a, #9c001a);
    -moz-border-radius: 2;
    border-radius: 2px;
    padding: 5px 0px 5px 0px;
}

.signup-button:hover, .login-button:hover {
    background: #f49cbb;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 100px;
        height: auto;
        margin-right: 3rem;
    }
}

/* Non-Mobile Styles */
@media screen and (min-width: 531px) {
    header {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    footer {
        width: 100%;
        padding: 1rem 0rem;
        background-color: #191825;
        text-align: center;
    }

    .logo {
        width: 150px;
        margin-right: 1rem;
    }

    .navigation li {
        display: inline-block;
    }

    .signup-button, .login-button {
        padding: 10px 10px 10px 10px;
        margin: 0px 10px;
    }
}

/* Utility classes */

.white-text {
    color: white !important;
}