/* Mobile Styles */
.detailpage-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.detailpage-layout button:first-child {
    margin-right: 1rem;
}

.detail-buttons-wrapper {
    margin: 1rem 0 4rem 0;
}

.detailpage-layout form > label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detailpage-layout form > textarea {
    margin-bottom: 1rem;
}

.detailpage-layout form > button {
    display: block;
    margin: auto;
}

/* Non-Mobile Styles */
