.homepage-layout {
    background-image: url("@/img/homepage-bg-3-1024w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.site-title {
    position: absolute;
    top: 50%;
    margin: 0;
    filter: drop-shadow(5px 5px 10px #000000);
}

.site-title h1 {
    font-size: 14vw;
    margin: 0;
}

.site-title h2 {
    font-size: 5vw;
    margin: 0;
}